Source: suricata
Section: net
Priority: optional
Maintainer: Pierre Chifflier <pollux@debian.org>
Uploaders: Arturo Borrero Gonzalez <arturo.borrero.glez@gmail.com>
Build-Depends: debhelper (>= 9),
    autotools-dev,
    dh-autoreconf,
    libnet1-dev | libnet-dev,
    libnspr4-dev,
    libnss3-dev,
    libpcap-dev,
    libpcre3-dev,
    libyaml-dev,
    libnetfilter-queue-dev,
    libprelude-dev,
    zlib1g-dev | libz-dev,
    libcap-ng-dev,
    libmagic-dev,
    libjansson-dev,
    libluajit-5.1-dev [i386 amd64 powerpc mips armel armhf],
    python
Build-Conflicts: libhtp-dev
X-Python-Version: >= 2.6
Standards-Version: 3.9.6
Homepage: http://www.openinfosecfoundation.org/

Package: suricata
Architecture: any
Depends: ${shlibs:Depends},
    ${misc:Depends},
    ${python:Depends}
Conflicts: libhtp1 (<< 0.5.16)
Replaces: libhtp1 (<< 0.5.16)
Recommends: oinkmaster, snort-rules-default, python
Description: Next Generation Intrusion Detection and Prevention Tool
 Suricata is a network Intrusion Detection System (IDS). It is based on
 rules (and is fully compatible with snort rules) to detect a variety of
 attacks / probes by searching packet content.
 .
 This new Engine supports Multi-Threading, Automatic Protocol Detection
 (IP, TCP, UDP, ICMP, HTTP, TLS, FTP and SMB), Gzip Decompression, Fast
 IP Matching and coming soon hardware acceleration on CUDA and OpenCL GPU
 cards.
 .
 This version has inline (NFQUEUE) support enabled.
