#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules file for Suricata
# Written by Pierre Chifflier
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+pie,+bindnow

SURICATA_DESTDIR = $(CURDIR)/debian/build-tmp/suricata-no-hs
SURICATA_HSDESTDIR = $(CURDIR)/debian/build-tmp/suricata-hs

ARCH ?= $(shell dpkg --print-architecture)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

LUAJIT_ARCHS = i386 amd64 powerpc mips armel armhf
HYPERSCAN_ARCHS = i386 amd64 hurd-i386 kfreebsd-amd64 x32

ifneq (,$(findstring $(ARCH),$(LUAJIT_ARCHS)))
	ENABLE_LUAJIT="--enable-luajit"
endif

TARGETS = suricata-no-hs
ifneq (,$(findstring $(ARCH),$(HYPERSCAN_ARCHS)))
	TARGETS += suricata-with-hs
endif

CONFIGURE_ARGS = --enable-af-packet --enable-nfqueue --enable-prelude --enable-nflog \
	--enable-gccprotect --disable-gccmarch-native \
	--with-libnss-includes=/usr/include/nss --with-libnss-libraries=/usr/lib/$(DEB_HOST_MULTIARCH) \
	--with-libnspr-includes=/usr/include/nspr --with-libnspr-libraries=/usr/lib/$(DEB_HOST_MULTIARCH) \
	--disable-coccinelle \
	--enable-geoip --enable-hiredis \
	$(ENABLE_LUAJIT)

suricata-no-hs:
	dh_auto_configure -- $(CONFIGURE_ARGS)
	dh_auto_build --parallel
	make install DESTDIR=$(SURICATA_DESTDIR)
	rm -rf $(SURICATA_DESTDIR)/usr/lib/python*;\
	(cd scripts/suricatasc &&\
		python -B setup.py install --install-layout=deb --prefix $(SURICATA_DESTDIR)/usr)
	# clean upstream install documentation
	rm -rf $(SURICATA_DESTDIR)/usr/share/doc/suricata/*
	make clean

suricata-with-hs:
	dh_auto_configure -- $(CONFIGURE_ARGS) --enable-libhs
	dh_auto_build --parallel
	make install DESTDIR=$(SURICATA_HSDESTDIR)
	rm -rf $(SURICATA_HSDESTDIR)/usr/lib/python*;\
	(cd scripts/suricatasc &&\
		python -B setup.py install --install-layout=deb --prefix $(SURICATA_HSDESTDIR)/usr)
	# clean upstream install documentation
	rm -rf $(SURICATA_HSDESTDIR)/usr/share/doc/suricata/*
	make clean

override_dh_auto_clean:
	rm -rf $(CURDIR)/debian/build-tmp
	dh_auto_clean

override_dh_auto_configure:
	# done in individual targets

override_dh_auto_build: $(TARGETS)

override_dh_strip:
	dh_strip --dbg-package=suricata-dbg

%:
	dh  $@ --with autotools-dev,autoreconf,python2
